body {
    background-color: var(--primary-bg-color);
    color: var(--white-color);

    font-family: var(--secondary-font-family);
}

a {
    text-decoration: none;
    color: var(--white-color);
}
