body {
    background-color: var(--primary-bg-color);
    color: var(--white-color);

    font-family: var(--secondary-font-family);
}

a {
    text-decoration: none;
    color: var(--white-color);
}

.default-img {
    width: 450px;
    margin: var(--medium-spacing) 0;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
