:root {
    // Colors
    --nav-bg-color: #1b2330;
    --primary-bg-color: #181e2a;
    --testimonials-bg-color: #21293c;
    --footer-bg-color: #0c1524;

    --cyan-color: hsl(176, 68%, 64%);
    --blue-color: hsl(198, 60%, 50%);
    --light-red-color: hsl(0, 100%, 63%);

    --white-color: hsl(0, 0%, 100%);

    // Fonts
    --body-font-size: 1.3rem;

    --primary-font-family: 'Raleway', sans-serif;
    --secondary-font-family: 'Open Sans', sans-serif;

    --primary-font-weight: 400;
    --secondary-font-weight: 700;

    // Spacing
    --default-spacing: 1rem;
    --middle-spacing: 1.5rem;
    --medium-spacing: 2rem;
    --medium-extra-spacing: 3rem;
    --big-spacing: 5rem;
    --extra-spacing: 7rem;
    --big-extra-spacing: 10rem;

    --nav-height: 100px;

    // Breakpoints
    --mobile-breakpoint: 375px;
}
