.intro {
    display: grid;
    place-items: center;
    text-align: center;
    position: relative;

    padding: 0 var(--middle-spacing);

    background: linear-gradient(
        to bottom,
        var(--nav-bg-color) 0%,
        var(--nav-bg-color) 60%,
        var(--primary-bg-color) 60%,
        var(--primary-bg-color) 100%
    );

    .default-img,
    .intro-content {
        z-index: 2;
    }

    @media screen and (min-width: 700px) {
        background: linear-gradient(
            to bottom,
            var(--nav-bg-color) 0%,
            var(--nav-bg-color) 90%,
            var(--primary-bg-color) 90%,
            var(--primary-bg-color) 100%
        );
    }
}

.intro-content {
    max-width: 500px;
}

.intro-curve {
    position: absolute;

    top: 40%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    @media screen and (min-width: 700px) {
        top: 50%;
    }
}
