footer {
    background-color: var(--footer-bg-color);
}

.footer-logo {
    padding: var(--medium-extra-spacing);
}

.footer-contact {
    margin-bottom: var(--medium-extra-spacing);
}

.footer-contact-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: var(--default-spacing) var(--medium-extra-spacing);

    .footer-icon {
        width: 20px;
        height: 20px;

        &.icon-corrected-1 {
            width: 20px;
            height: 25px;
        }

        &.icon-corrected-2 {
            width: 25px;
            height: 20px;
        }
    }
}

.footer-nav {
    ul {
        list-style: none;
        padding: 0;
        margin-left: var(--medium-extra-spacing);

        li {
            padding-bottom: var(--default-spacing);
        }
    }
}
