.testimonials {
    display: grid;
    place-content: center;

    margin-bottom: var(--extra-spacing);
}

.testimonials-content {
    position: relative;
}

.testimonials-item {
    max-width: 500px;
    border-radius: 10px;
    margin: var(--medium-spacing) var(--medium-spacing);
    padding: var(--middle-spacing);
    background-color: var(--testimonials-bg-color);
}

.testimonials-picture {
    position: absolute;

    left: 10%;
    top: -10px;
}

.testimonials-person {
    display: flex;
    align-items: center;

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    p {
        margin: 0;
    }

    .testimonials-person-info {
        margin-left: var(--small-spacing);
    }
}

.testimonials-name {
    font-size: 0.8rem;
}

.testimonials-occupation {
    font-size: 0.7rem;
}
