.testimonials {
    display: grid;
    place-content: center;
}

.testimonials-content {
    position: relative;
}

.testimonials-item {
    margin: var(--medium-spacing) var(--medium-extra-spacing);
    padding: var(--medium-spacing);
    background-color: var(--testimonials-bg-color);
    border-radius: 10px;
    max-width: 500px;
}

.testimonials-picture {
    position: absolute;
    left: 10%;
    top: -10px;
}

.testimonials-person {
    display: flex;
    align-items: center;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    p {
        margin: 0;
    }

    .testimonials-person-info {
        margin-left: var(--middle-spacing);
    }
}
