.primary-btn {
    font-size: 1.2rem;
    padding: var(--default-spacing) 150px;
    border: none;
    border-radius: 50px;
    color: var(--white-color);
    background: linear-gradient(90deg, var(--cyan-color) -10%, var(--blue-color));

    @media screen and (max-width: 450px) {
        padding: var(--default-spacing) 25%;
    }
}

.img-text-btn {
    display: inline-flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 5px solid var(--cyan-color);
    color: var(--cyan-color);

    .underline-btn {
        margin: 0;
    }

    .img-text-btn-arrow {
        width: 30px;
        margin-left: var(--middle-spacing);
    }
}

.signup-btn {
    font-size: 0.8rem;
    width: 100%;
    @media screen and (max-width: 450px) {
        padding: var(--default-spacing) 20%;
    }
}
