.infobox {
    display: grid;
    align-items: center;
    justify-content: center;

    margin: var(--extra-spacing) 0;
}

.infobox-item {
    display: grid;
    place-items: center;
    text-align: center;

    max-width: 500px;
    margin: var(--medium-spacing) var(--medium-spacing);
}

.infobox-img {
    width: 100px;
    margin-bottom: var(--medium-spacing);
}
