.infobox {
    margin: var(--extra-spacing) 0;
}

.infobox-item {
    display: grid;
    place-items: center;
    text-align: center;
    margin: var(--big-spacing) var(--medium-spacing);
}

.infobox-img {
    width: 100px;
    margin-bottom: var(--medium-spacing);
}
