header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-family: var(--primary-font-family);
    background-color: var(--nav-bg-color);
    width: 100vw;
    height: var(--nav-height);
}

.nav-logo {
    height: 35px;
    width: 115px;
    margin: var(--default-spacing);
}

.nav-list {
    display: flex;
    flex-direction: row;

    list-style: none;

    li {
        font-size: 1.1rem;
        margin-right: var(--default-spacing);
        opacity: 0.8;
    }
}
